@use "../../abstracts/breakpoints" as media;
@use "../../abstracts/functions";
@use "../../abstracts/variables";

.featured {
  padding-top: 5rem;
  padding-bottom: 5rem;
  &__title {
    font-size: 3rem;
    font-weight: 700;
  }
  &__products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include media.query(">=sm") {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  @include media.query(">=1600px") {
    padding-bottom: 5rem;
  }
}
