@use "../../abstracts/breakpoints" as media;
@use "../../abstracts/functions";
@use "../../abstracts/variables";

.services {
  padding-top: 5rem;

  &__mainTitle {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/streetware3.png");
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 2rem;

    @include media.query(">=sm") {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include media.query(">=lg") {
      height: 50vh;
    }
  }

  &__support,
  &__shipping,
  &__payments,
  &__returns {
    width: 100%;
    padding: 2rem;

    @include media.query(">=sm") {
      width: 50%;
    }

    @include media.query(">=lg") {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__shipping,
  &__payments,
  &__returns {
    @include media.query(">=sm") {
      margin-top: 0;
    }
  }

  &__image {
    width: rem(100px);
    height: rem(100px);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__text {
    margin-top: 2rem;
    padding: 0 2rem;
    font-size: 1.4rem;
  }

  &__shipping {
    // transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: $pink;
    }
  }

  &__support {
    // transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: $blue;
    }
  }

  &__payments {
    // transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: $yellow;
    }
  }

  &__returns {
    // transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: $green;
    }
  }
}
