// Breakpoints
$breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1400px,
);

// Font Sizes
$root-font-size: 16px;

// Colors
$black: #111;
$primary: #1a237e;
$primary-dark: #000051;
$primary-light: #e8eaf6;
$white: #fff;

$yellow: #fffc22;
$pink: #fe1f68;
$purple: #cc02f1;
$blue: #2586ff;
$red: #ff2d4b;
$light-blue: #26e5fc;
$gold: #f6c61c;
$green: #a0ff25;
$light-green: #0aff7d;
$dark-green: #6fad0d;
$normal-green: #4bb543;
