@use "../../abstracts/breakpoints" as media;
@use "../../abstracts/functions";
@use "../../abstracts/variables";

.login {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;

  @include media.query(">=lg") {
    height: 100vh;
  }

  &__message {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 3px solid $black;
    background-color: $white;
    z-index: 300;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;

    &.error {
      color: $red;
    }

    &.success {
      color: $normal-green;
    }
  }
}

.box {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: -0.5rem 0.5rem $white;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $white;
    background-color: $black;
    padding: 1rem 0;
  }
  &__logo {
    width: rem(100px);
    height: rem(100px);
  }
  &__form {
    border-right: 3px solid $white;
    border-bottom: 3px solid $white;
    border-left: 3px solid $white;
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include media.query(">=lg") {
      flex-direction: row;
    }
  }
  &__figure {
    &--x {
      width: rem(90px);
      position: absolute;
      top: rem(5px);
      left: rem(5px);
      @include media.query(">=600px") {
        top: rem(10px);
        left: rem(15px);
      }
    }
    &--o {
      width: rem(120px);
      position: absolute;
      bottom: rem(30px);
      right: 0;
    }
  }
  @include media.query(">=600px") {
    width: rem(550px);
  }

  @include media.query(">=lg") {
    width: rem(1000px);
  }
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: left;
  border: none;
  padding: 2rem;
  &__btn {
    font-family: "Encode Sans SC", sans-serif;
    padding: 0.8rem 1.5rem;
    margin-top: rem(10px);
    background-color: transparent;
    border: 3px solid $white;
    transition: box-shadow 0.4s ease-in-out;
    &:hover {
      box-shadow: -0.5rem 0.5rem $pink;
      cursor: pointer;
    }

    &:focus {
      border: 3px solid $blue;
      outline: none;
    }
  }
  &__span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    &::after {
      content: "\2B9E";
      color: $yellow;
      margin-left: rem(5px);
    }
  }
}

.register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: left;
  border-top: 3px solid $white;
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 2rem;

  @include media.query(">=lg") {
    border-top: none;
    border-left: 3px solid $white;
  }
}
