*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Encode Sans SC", sans-serif;
  // font-family: "Staatliches", cursive;
  // font-family: "Archivo Black", sans-serif;
  // font-family: "Istok Web", sans-serif;
}

::selection {
  background-color: #2586ff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

header,
main,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bold {
  font-weight: 700;
}

::-webkit-scrollbar {
  background-color: $black;
  width: rem(9px);
}

::-webkit-scrollbar-thumb {
  background-color: $white;
  border: 2px solid $black;
  border-radius: 20px;
  width: 5px !important;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
